<div class="card">
  <div class="card-header text-center text-success">
    <h3 class="mb-0">QR code Details</h3>
  </div>
  <div class="card-body">
    <form>
      <p>Your QR code will display here.</p>
      <br />

      <div class="input-group form-group">
        <div class="mx-auto">
          <input
            type="button"
            value="Back"
            class="btn btn-danger"
            routerLink="/driver/qrList"
          />
        </div>
      </div>
    </form>
  </div>
</div>
