

.text-danger{
    margin-top: -10px !important;
    margin-bottom: 10px;
  }



  [data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:-60px;
	left:0px;
	padding:5px 8px;
	background:silver;
	color:black;
	z-index:9;
	font-size: 1em;
	height:60px;
	width: 75% !important;
	margin-left: 15% !important;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:pre-line;

    word-break: break-word;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}