<div class="card">
    <div class="card-header text-center text-success">
      <h3 class="mb-0">Entry Gate Operator</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="card text-white bg-primary mb-3" style="max-width: auto;">
          <div class="card-header" style="text-align: center;" >
           
            <button
              class="btn btn-primary"
              routerLink='/entryGateOperator/indentListRecord'
               routerLinkActive="active"
            >
              Indent List
            </button>
          </div>
        </div>
        <!-- <div class="card text-white bg-primary mb-3" style="max-width: auto;">
            <div class="card-header" style="text-align: center;">
             
              <button
                class="btn btn-primary"
                [routerLink]="['/admin/dashboard/stallRegistrationList']"
                 routerLinkActive="active"
              >
                Vehicle Entry
              </button>
            </div>
          </div> -->
          <!-- <div class="card text-white bg-primary mb-3" style="max-width: auto;">
            <div class="card-header" style="text-align: center;">
             
              <button
                class="btn btn-primary"
                [routerLink]="['/admin/dashboard/stallRegistrationList']"
                 routerLinkActive="active"
              >
              Vehicle Entry List
              </button>
            </div>
          </div> -->
        <!-- <div class="card text-white bg-secondary mb-3" style="max-width: auto;">
          <div class="card-header" style="text-align: center;">
            <a type="button" class="btn btn-secondary"
              >Indent Registration Requests</a
            >
          </div>
        </div> -->
      </form>
    </div>
  </div>
  