<div class="card">
    <div class="card-header text-center text-success">
      <h3 class="mb-0">Approve Request</h3>
      <div>
       
      </div>
    </div>
    <div class="card-body">
      <form 
      novalidate
      autocomplete="off"
      name="ApproveStallForm"
      #ApproveStallForm="ngForm"
      (ngSubmit)="approveStall(ApproveStallForm)"
      >
  
        <div class="input-group form-group">
          <input
            type="txt"
            class="form-control"
            placeholder="First Name"
            value="{{Approverow?.merchantName}}"
            disabled
          />
        </div>
     
        <div class="input-group form-group">
          <input
            type="txt"
            class="form-control"
            placeholder="Mobile No"
            value="{{Approverow?.mobileNo}}"
            disabled
          />
        </div>
        
        <div class="input-group form-group">
            <input
              type="txt"
              class="form-control"
              placeholder="Stall No"
              value="{{Approverow?.stallNo}}"
              disabled
            />
          </div>
          <div class="input-group form-group">
            <input
              type="txt"
              class="form-control"
              placeholder="stallRegNo"
              value="{{Approverow?.approvedDate|date: 'dd/MM/yy'}}"
              disabled
            />
          </div>
          
       
        <div class="input-group form-group">
          <div class="mx-auto">
            <input
              type="submit"
              value="Approve"
              class="btn btn-success"
            />&nbsp;&nbsp;&nbsp;
            <input
              type="button"
              value="Cancel"
              class="btn btn-danger"
              (click)="openModal(template)"
            />
          </div>
          <ng-template #template>
            <div class="modal-body text-center">
              <h3 class="mx-auto">Confirm Cancellation</h3>
              <p>Are you sure ? You want to go Back?</p>
              <button type="button" class="btn btn-default" (click)="confirm()">
                Yes
              </button>
              <button type="button" class="btn btn-primary" (click)="decline()">
                No
              </button>
            </div>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
