<div class="card">
  <div class="card-header text-center text-success">
    <h3 class="mb-0">Indent List</h3>
  </div>
  <div class="card-body">
    <form>
      <table class="table table-sm table-bordered table-responsive">
        <tr>
          <th>Sr No</th>
          <th>Time</th>
          <th>Order ID</th>
          <th>Vehicle Number</th>
          <th>Driver's name</th>
        </tr>
        <tr routerLink="/entryGateOperator/indentDetail">
          <td>1</td>
          <td>09.00 am</td>
          <td>007</td>
          <td>MH12ST1111</td>
          <td>Rama</td>
        </tr>
      </table>
      <div class="input-group form-group">
        <div class="mx-auto">
          
          <input
            type="button"
            value="Back"
            class="btn btn-danger"
            routerLink="/entryGateOperator/dashboard"
            />
        </div>
    </div>
    </form>
  </div>
</div>
