<div class="card">
  <div class="card-header text-center text-success">
    <h3 class="mb-0">Indent List</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="text-success ml-auto pr-3">
        <p>{{myDate | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>
    <br />
    <form>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Order no</th>
            <th scope="col">ETA Time</th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let indentListData of IndentList">
            <td scope="col">{{indentListData.orderNo}}</td>
            <td scope="col">{{indentListData.etaTime}}</td>
            <td scope="col">{{indentListData.vehicleNo}}</td>
            <td scope="col">
              <button
                class="btn btn-light"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                  ><i
                    class="fa fa-eye"
                    aria-hidden="true"
                    (click)="selectedIndentRow(indentListData.id)"
                  ></i>
                </a>
                <a class="dropdown-item"
                  ><i class="fa fa-qrcode" aria-hidden="true"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination [totalItems]="50"></pagination>

      <div class="input-group form-group">
        <div class="mx-auto">
          <input
            type="button"
            value="Back"
            class="btn btn-danger"
            routerLink="/entryGateOperator/dashboard"
          />
        </div>
      </div>
    </form>
  </div>
</div>
