<div class="card">
  <div class="card-header text-center text-success">
    <h3 class="mb-0">Indent Details</h3>
  </div>
  <div class="card-body">
    <form
      novalidate
      autocomplete="off"
      name="ProductIndentForm"
      #ProductIndentForm="ngForm"
      (ngSubmit)="onProductSelect(product,ProductIndentForm)"
    >
      <!-- <div class="input-group form-group">
        <div class="input-group-prepend"></div>
        <span class="badge badge-success">OrderId:0001</span>
      </div> -->

      <div class="input-group form-group">
        <select
          class="form-control"
          name="FieldProductCategory"
          required
          #FieldProductCategory="ngModel"
          [(ngModel)]="indent.CategoryId"
          (change)="onCategoryChange($event)"
        >
          <option value="null" selected disabled hidden
            >Select Product Category</option
          >
          <option *ngFor="let pcategory of procategory" value="{{pcategory.id}}"
            >{{pcategory.category}}</option
          >
        </select>
      </div>
      <div
        *ngIf="FieldProductCategory.invalid && (FieldProductCategory.dirty || FieldProductCategory.touched || ProductIndentForm.submitted)"
        class="text-danger"
      >
        <div [hidden]="!FieldProductCategory.errors.required">
          Product category is required
        </div>
      </div>
      <div class="form-group">
        <select
          class="form-control"
          name="FieldProductList"
          required
          #FieldProductList="ngModel"
          [(ngModel)]="indent.ProductId"
          (change)="onProductSelected($event)"
        >
          <option value="null" selected disabled hidden>Select Product</option>
          <option *ngFor="let product of productlist" value="{{product.id}}"
            >{{product.productName}}</option
          >
        </select>
      </div>
      <div
        *ngIf="FieldProductList.invalid && (FieldProductList.dirty || FieldProductList.touched || ProductIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldProductList.errors.required">
          Product selection is required
        </div>
        <div [hidden]="!FieldProductList.errors.pattern">
          Enter valid product
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <input
            type="txt"
            class="form-control"
            placeholder="Quantity"
            [(ngModel)]="indent.ProductQuantity"
            required
            pattern="[0-9]*"
            maxlength="10"
            #FieldProductQuantity="ngModel"
            name="FieldProductQuantity"
            (change)="onQuantity($event)"
            [ngClass]="{'has-error': FieldProductQuantity.invalid && (FieldProductQuantity.dirty || FieldProductQuantity.touched
                || CreateIndentForm.submitted ) }"
          /><br />
          <div
            *ngIf="FieldProductQuantity.invalid && (FieldProductQuantity.dirty || FieldProductQuantity.touched || ProductIndentForm.submitted)"
            class="text-danger"
          >
            <div [hidden]="!FieldProductQuantity.errors.required">
              Quantity is required
            </div>
            <div [hidden]="!FieldProductQuantity.errors.pattern">
              Enter valid Quantity
            </div>
          </div>
        </div>
        <div class="col-6">
          <select
            class="form-control"
            name="FieldProductQuantityUnits"
            required
            #FieldProductQuantityUnits="ngModel"
            [(ngModel)]="indent.UnitId"
            (change)="onUnitsChange($event)"
          >
            <option value="null" selected disabled hidden>Select Units</option
            ><option
              *ngFor="let productunit of unitlist"
              value="{{productunit.id}}"
              >{{productunit.unit}}</option
            >
          </select>
          <br />
          <div
            *ngIf="FieldProductQuantityUnits.invalid && (FieldProductQuantityUnits.dirty || FieldProductQuantityUnits.touched || ProductIndentForm.submitted)"
            class="text-danger"
          >
            <div [hidden]="!FieldProductQuantityUnits.errors.required">
              Unit is required
            </div>
          </div>
        </div>
      </div>
      <div class="float-right">
        <button type="submit" class="btn btn-sm text-info">
          Add <i class="fa fa-plus"></i>
        </button>
      </div>
      <table class="table table-sm table-bordered table-responsive">
        <tr>
          <th>Sr No</th>
          <th>Product Category</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Units</th>
          <th>Action</th>
        </tr>
        <tr *ngIf="selectedProducts?.length <= 0">
          <td colspan="10" align="center">
            <h3>No data to display</h3>
          </td>
        </tr>
        <tr *ngFor="let item of selectedProducts; let i = index">
          <td>{{i + 1}}</td>
          <td>{{item.CategoryName}}</td>
          <td>{{item.ProductName}}</td>
          <td>{{item.ProductQuantity}}</td>
          <td>{{item.Unit}}</td>
          <td>
            <a (click)="removeProduct(item) " class="btn text-info"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
      </table>
    </form>
    <form
      novalidate
      autocomplete="off"
      name="CreateIndentForm"
      #CreateIndentForm="ngForm"
      (ngSubmit)="createIndent(CreateIndentForm)"
    >
      <div class="form-group">
        <input
          [(ngModel)]="merchantindent.DriverName"
          placeholder="Driver Name"
          required
          pattern="[a-zA-Z ]*"
          autocomplete="off"
          [typeahead]="driverlist"
          type
          [typeaheadMultipleSearch]="true"
          typeaheadOptionField="firstName"
          typeaheadMultipleSearchDelimiters=" |"
          class="form-control"
          #FieldDriverName="ngModel"
          name="FieldDriverName"
          [ngClass]="{'has-error': FieldDriverName.invalid && (FieldDriverName.dirty || FieldDriverName.touched || CreateIndentForm.submitted) }"
        />
      </div>
      <div
        *ngIf="FieldDriverName.invalid && (FieldDriverName.dirty || FieldDriverName.touched || CreateIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldDriverName.errors.required">
          Driver name is required
        </div>
        <div [hidden]="!FieldDriverName.errors.pattern">
          Enter valid driver name
        </div>
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend"></div>
        <input
          type="txt"
          class="form-control"
          placeholder="Driver Number"
          [(ngModel)]="merchantindent.DriverNo"
          required
          pattern="[0-9]*"
          maxlength="10"
          #FieldDriverNumber="ngModel"
          name="FieldDriverNumber"
          [ngClass]="{'has-error': FieldDriverNumber.invalid && (FieldDriverNumber.dirty || FieldDriverNumber.touched || CreateIndentForm.submitted) }"
        />
      </div>
      <div
        *ngIf="FieldDriverNumber.invalid && (FieldDriverNumber.dirty || FieldDriverNumber.touched || CreateIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldDriverNumber.errors.required">
          Driver mobile number is required
        </div>
        <div [hidden]="!FieldDriverNumber.errors.pattern">
          Enter valid drive mobile number
        </div>
      </div>

      <div class="input-group form-group">
        <div class="input-group-prepend"></div>
        <input
          type="txt"
          class="form-control"
          placeholder="Vehicle Number"
          pattern="[a-zA-Z0-9]+"
          [(ngModel)]="merchantindent.VehicleNo"
          #FieldVehicleNumber="ngModel"
          name="FieldVehicleNumber"
        />
      </div>
      <div
        *ngIf="FieldVehicleNumber.invalid && (FieldVehicleNumber.dirty || FieldVehicleNumber.touched || CreateIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldVehicleNumber.errors.pattern">
          Enter valid vehicle number
        </div>
      </div>

      <div class="form-group">
        <input
          class="form-control"
          name="FieldSelectDate"
          required
          #FieldSelectDate="ngModel"
          [(ngModel)]="merchantindent.ETADate"
          bsDatepicker
          placeholder="Select Date"
          container=""
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',adaptivePosition: true }"
          [minDate]="minDate"
          [maxlength]="10"
          [ngClass]="{'has-error': FieldSelectDate.invalid && (FieldSelectDate.dirty || FieldSelectDate.touched
          || CreateIndentForm.submitted) }"
        />
      </div>
      <div
        *ngIf="FieldSelectDate.invalid && (FieldSelectDate.dirty || FieldSelectDate.touched || CreateIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldSelectDate.errors.required">
          Date is required
        </div>
      </div>

      <div class="input-group form-group">
        <input
          class="form-control"
          matInput
          aria-label="default time"
          [ngxTimepicker]="defaultValue"
          [value]="'0:00 am'"
          [(ngModel)]="merchantindent.ETATime"
          #FieldSelectTime="ngModel"
          name="FieldSelectTime"
          placeholder="Select time"
          [ngClass]="{'has-error': FieldSelectTime.invalid && (FieldSelectTime.dirty || FieldSelectTime.touched
        || CreateIndentForm.submitted) }"
        />
        <ngx-material-timepicker #defaultValue> </ngx-material-timepicker>
      </div>
      <div
        *ngIf="FieldSelectTime.invalid && (FieldSelectTime.dirty || FieldSelectTime.touched || CreateIndentForm.submitted )"
        class="text-danger"
      ></div>

      <div class="input-group form-group">
        <input
          type="txt"
          class="form-control"
          pattern="[a-zA-Z ]*"
          placeholder="Supplier Name"
          [(ngModel)]="merchantindent.SupplierName"
          #FieldSupplierName="ngModel"
          name="#FieldSupplierName"
          [ngClass]="{'has-error': FieldSupplierName.invalid && (FieldSupplierName.dirty || FieldSupplierName.touched
          || CreateIndentForm.submitted) }"
        />
      </div>
      <div
        *ngIf="FieldSupplierName.invalid && (FieldSupplierName.dirty || FieldSupplierName.touched || CreateIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldSupplierName.errors.pattern">
          Enter valid supplier name
        </div>
      </div>
      <div class="input-group form-group">
        <input
          type="txt"
          class="form-control"
          pattern="[0-9]*"
          placeholder="Supplier Number"
          maxlength="10"
          [(ngModel)]="merchantindent.SupplierNo"
          #FieldSupplierNumber="ngModel"
          name="FieldSupplierNumber"
          [ngClass]="{'has-error': FieldSupplierNumber.invalid && (FieldSupplierNumber.dirty || FieldSupplierNumber.touched
          || CreateIndentForm.submitted) }"
        />
      </div>
      <div
        *ngIf="FieldSupplierNumber.invalid && (FieldSupplierNumber.dirty || FieldSupplierNumber.touched || CreateIndentForm.submitted )"
        class="text-danger"
      >
        <div [hidden]="!FieldSupplierNumber.errors.pattern">
          Enter valid supplier number
        </div>
      </div>

      <br />
      <div class="input-group form-group">
        <div class="mx-auto">
          <input
            type="submit"
            value="Save"
            class="btn btn-success"
          />&nbsp;&nbsp;&nbsp;
          <input
            type="button"
            value="Cancel"
            class="btn btn-danger"
            (click)="openModal(template)"
          />
        </div>
        <ng-template #template>
          <div class="modal-body text-center">
            <h3 class="mx-auto">Confirm Cancellation</h3>
            <p>Are you sure ? You want to cancel Indent creation?</p>
            <button type="button" class="btn btn-primary" (click)="confirm()">
              Yes</button
            >&nbsp;
            <button type="button" class="btn btn-secondary" (click)="decline()">
              No
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</div>
