<aside class="sidebar shadow-sm">
  <!-- <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input
      type="search"
      class="form-control rounded-pill"
      name="search"
      placeholder="Search ..."
    />
  </div> -->
  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li *ngIf="currentUser.role=='Admin'">
        <a [routerLink]="['/admin/dashboard']">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='Admin'">
        <a
          [routerLink]="['/admin/dashboard/stallRegistrationList']"
          routerLinkActive="active"
        >
          <i class="fa fa-tv"></i>
          <span>Stall Registration Requests</span>
        </a>
      </li>

      <li *ngIf="currentUser.role=='Merchant'">
        <a [routerLink]="['/merchant/dashboard']">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='Merchant'">
        <a
          [routerLink]="['/merchant/stallregistration']"
          routerLinkActive="active"
        >
          <i class="fa fa-tv"></i>
          <span>Stall Registration</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='Merchant'">
        <a [routerLink]="['/merchant/creatindent']" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Create Indent</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='Driver'">
        <a [routerLink]="['/driver/dashboard']">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='Driver'">
        <a [routerLink]="['/driver/qrList']">
          <i class="fa fa-tv"></i>
          <span>QR Code List</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='EntryGateOperator'">
        <a [routerLink]="['/entryGateOperator/dashboard']">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='EntryGateOperator'">
        <a [routerLink]="['/entryGateOperator/indentListRecord']" >
          <i class="fa fa-tv"></i>
          <span>Indent List</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='ExitGateOperator'">
        <a [routerLink]="['/exitGateOperator/dashboard']">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='ExitGateOperator'">
        <a [routerLink]="['/exitGateOperator/VehicleList']">
          <i class="fa fa-tv"></i>
          <span>Vehicel List</span>
        </a>
      </li>
      <li *ngIf="currentUser.role=='ExitGateOperator'">
        <a [routerLink]="['/exitGateOperator/exitGate']">
          <i class="fa fa-tv"></i>
          <span>Exit Gate Entry</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
